[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
sympy = "*"
seaborn = "*"
pandas = "*"
jupyterlab = "*"
beautifulsoup4 = "*"
tables = "*"
html5lib = "*"
lxml = "*"
modsimpy = "*"
vtk = "*"
pyvista = "*"
bokeh = "*"
flake8 = "*"
pylint = "*"
rich = "*"
Pillow = "*"
Pint = "*"
PyQt5 = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.9"
