#
# REQUIREMENTS FILE
# install: pip install -r requirements.txt
#
wheel
numpy
matplotlib
scipy
scikit-learn
sympy
seaborn
pillow
pandas
jupyterlab
beautifulsoup4
tables
html5lib
lxml
pint
modsimpy
vtk
pyvista
bokeh
flake8
pylint
rich
PyQt5
